<div id="<%= dom_id est %>">
  <p>
    <strong>Nombres:</strong>
    <%= est.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= est.apellidos %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= est.carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= est.carnet %>
  </p>

</div>
